/modules/*
!modules/quotation

/adminLionel/*
/adm/
/admin508srwjpw/*
/bin/*
/cache/*
/classes/*
/config/*
/controllers/*
/docs/*
/download/*
/img/*
/js/*
/localization/*
/mails/*
/override/*
/pdf/*
/src/*
/themes/*
/tools/*
/translations/*
/upload/*
/var/*
/webservice/*
.htaccess
autoload.php
composer.lock
docker-compose.yml
error500.html
images.inc.php
index.php
init.php
INSTALL.txt
robots.txt
LICENSES

/app/
vendor
/vendor/
.idea/
!.gitignore
