#HOOK_SHOPPING_CART_EXTRA .locDevisCartToQuotationLink {
    float:right;
}
.locDevisQuotationRequestLink {
    margin-top:5px;
}
#locDevisConteneurDisplayTop {
    clear:both;
    text-align:center;
}
#locDevisConteneurDisplayTop .btn{
    margin:0 10px;
    display:inline-block;
}

.button.button-small .locDevisHide {
    display:none;
}
.button.button-small .locDevisShow {
    display:block;
}
@media screen and (min-width: 500px)
{
  .button.button-small .locDevisHide {
    display:block;
  }
  .button.button-small .locDevisShow {
    display:none;
  }
}
/*
#locDevisConteneurDisplayTop {
    float:right;
    margin-top:5px;
}
#locDevisConteneurDisplayTop .btn{
    float:right;
}
#header .col-sm-4 .shopping_cart {
    padding-top:15px;
}
#header .cart_block {
    top:60px;
}
*/