<div id="js-output-cart-summary" class="cart-summary-infos d-none">

    <div class="quotation card p-4" id="cart_summary">
        <div class="quotation-head mb-3 d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <i class="material-icons mr-2">reorder</i>
                <h1 class="panel-heading">Récapitulatif</h1>
            </div>
        </div>

        <div id="cart_summary" class="cart-summary-panel row-margin-bottom text-center">
            <div class="row justify-content-center align-items-center mt-3 mb-3">
                <div class="col-lg-2">
                    <div class="data-focus">
                        <span>Total produits</span><br>
                        <span id="cart_summary_total_products" class="size_l text-success"><!-- total products --></span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="data-focus">
                        <span>Total bons de réduction (HT)</span><br>
                        <span id="cart_summary_total_discounts" class="size_l text-danger"><!-- total discounts --></span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="data-focus">
                        <span>Total des taxes</span><br>
                        <span id="cart_summary_total_taxes" class="size_l"><!-- total taxes --></span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="data-focus">
                        <span>Total (HT)</span><br>
                        <span id="cart_summary_total_without_taxes" class="size_l"><!-- total HT --></span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="data-focus data-focus-primary">
                        <span>Total (TTC)</span><br>
                        <span id="cart_summary_total_with_taxes" class="size_l"><!-- total ttc --></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>