<section class="cart">

    <span data-customercart="{{ path('quotation_admin_show_cart', { id_cart: 0 }) }}"></span>

    <div id="js-output-cart-infos" class="cart-infos d-none">

        <div class="quotation card p-4">
            <div class="quotation-head mb-3 d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <span uk-icon="icon: cart" class="mr-2"></span>
                    <h1 class="panel-heading">Panier</h1>
                </div>
            </div>

            <div class="tab-content">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-left">Produits</th>
                        <th class="text-left">Prix Unitaire</th>
                        <th class="text-left">Quantité</th>
                        <th class="text-left">Total</th>
                    </tr>
                    </thead>
                    <tbody id="output-cart-products-to-use">

                    <!-- Products here! -->

                    </tbody>
                    <tfoot id="output-cart-to-use">

                    <!-- total cart here! -->

                    </tfoot>
                </table>
            </div>

            <div class="form-group">
                <div class="col-lg-12">
                    <div class="alert alert-warning">Les prix sont Hors Taxe</div>
                </div>
            </div>
        </div>

    </div>

</section>