<div class="mb-4">
    {% include '@Modules/quotation/templates/admin/_form.html.twig' %}
    ou
    {% include '@Modules/quotation/templates/admin/modal/new_customer.html.twig' %}
</div>

<div id="js-output-customers"><!-- Customers here! --></div>
