<style>
    /* Logo de l'entreprise */
    .logo_company {
        width: 28%;
        height: auto;
        max-height: 47%;
        border-top: 1px solid;
    }
</style>


<p>Madame, Monsieur,</p>

<p>Suite à votre demande de devis en date du {{ quotation.date_add|date("d/m/Y") }}, nous vous prions de trouver, ci-joint, notre proposition commerciale.</p>

<p>Avant toute acceptation, nous restons bien entendu à votre entière disposition pour tout complément d'information.</p>

<p>Vous en souhaitant bonne réception, nous vous prions d'agréer, Madame, Monsieur, en l'assurance de nos salutations distinguées.</p>

<img src="https://zupimages.net/up/20/17/rfpy.png" class="logo_company" alt="Company's logo Aquapure France"/>
<div class="">
    <p>1 Avenue du Champs de Mars</p>
    <p>45100 Orléans</p>
    <p>02 38 69 82 83</p>
    <p>contact@aquapure.fr</p>
</div>
