{% extends '@PrestaShop/Admin/layout.html.twig' %}

 {% block content %}

     <div class="card p-3">
         <a href="{{ path('quotation_admin') }}" class="btn btn-primary">Retour</a>
     </div>

     <div class="quotation card p-4" id="customers" data-customers="{{ asset('data-customer.js') }}">

         <div class="quotation-head mb-3 d-flex justify-content-between">

             <div class="d-flex"
                  data-searchcustomers="{{ path('quotation_admin_search_customers', { query: 'query' }) }}">
                 <i class="material-icons mr-2">person</i>
                 <h1 class="panel-heading">Client</h1>
             </div>

         </div>

         <section class="customer">
             {% include '@Modules/quotation/templates/admin/section/_customer.html.twig' %}
         </section>
     </div>

     <section class="cart">
         {% include '@Modules/quotation/templates/admin/section/_cart.html.twig' %}
     </section>

     <section class="reduction">
         {% include '@Modules/quotation/templates/admin/section/_cart_rule.html.twig' %}
     </section>

     <section class="address">
         {% include '@Modules/quotation/templates/admin/section/_address.html.twig' %}
     </section>

 {% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('quotation-bundle/quotation-bundle.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
{% endblock %}