{% extends '@PrestaShop/Admin/layout.html.twig' %}

 {% block content %}

     <div class="quotation card p-4">
         <a href="{{ path('quotation_admin') }}" class="btn btn-primary mb-5">Retour</a>

         <div class="quotation-head mb-3 d-flex justify-content-between">

             <div class="d-flex align-items-center">
                 <span uk-icon="icon: user" class="mr-2"></span>
                 <h1 class="panel-heading">Client</h1>
                 <span id="customers" class="card p-4" data-customers="{{ asset('data-customer.js') }}"></span>
             </div>

         </div>

         {% include '@Modules/quotation/templates/admin/_new/new_customer.html.twig' %}

         {% include '@Modules/quotation/templates/admin/_form.html.twig' %}
     </div>

     <style type="text/css">
         {% include "@Modules/quotation/public/build/app.css" %}
     </style>

 {% endblock %}


{% block javascripts %}
    <script type="text/javascript">{% include '@Modules/quotation/assets/js/test.js' %}</script>
    <script type="text/javascript" src="{{ asset('quotation-bundle/quotation-bundle.js') }}"></script>
    <script type="module">{% include '@Modules/quotation/assets/js/customer.js' %}</script>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
{% endblock %}
