{% extends '@PrestaShop/Admin/layout.html.twig' %}

 {% block content %}

     <div class="card p-4">
         <h1>Créer un devis</h1>
         <a href="{{ path('quotation_admin') }}" class="btn btn-primary">Retour</a>
         <hr>

         {% include '@Modules/quotation/templates/admin/_form.html.twig' %}
     </div>

 {% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/test.js') }}"></script>
    <script type="text/javascript">{% include '@Modules/quotation/assets/js/test.js' %}</script>
{% endblock %}
