.alert-warning {
  border: none;
  border-left: 3px solid #fcc94f;
  background-color: #fff3d7;
}

.alert {
  padding: .75rem 0 .75rem 2.875rem;
  position: relative;
  color: #d2a63c;
}

.form-label {
  background-color: #edf7fb;
  border-bottom: 1px solid #d8edf7;
  border-radius: 3px;
  color: #3586ae;
  font-size: 13px;
  padding: 0 5px;
  width: max-content;
}

.quotation-cart-section {
  .btn-light {
    padding: 8px;
  }

  select, .quantity-product {
    background-color: $light;
    border-radius: 3px;
    border: solid 1px #BBCDD2;
    padding: 4px 4px 4px 10px;
  }

  .form-label {
    margin-left: -11px;
  }
}
