.cart-summary-panel {
  border: 1px solid $middlegrey;
  border-radius: 5px;
}

.data-focus.data-focus-primary {
  background-color: $primary;
  border-radius: 10px;
  color: $light;
}

.quotation-status-select {
  background-color: $input-color;
  border-radius: 3px;
  padding: 6px 8px;
}