.quotation {

  .card-back {
    margin: 0;
    padding: 0;
  }

  .customer {

    .form-label {
      background-color: #edf7fb;
      border-bottom: 1px solid #d8edf7;
      border-radius: 3px;
      color: #3586ae;
      font-size: 13px;
      padding: 0 5px;
      width: max-content;
    }
  }

  .customerCard {
    border: solid 1px $middlegrey;
    box-shadow: none;
    padding: 0;
    margin:5px;
    width: 32%;

    .card-header-customer {
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;
      background-color: transparent;
    }

    h2 {
      @include panel-font;
      color: $darkgrey;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: normal;
    }

    .card-body {
      font-size: 12px;

      p {
        margin: 0;
      }
    }

    .card-footer {
      display: flex;
      justify-content: space-between;

      button, a {
        background-color: $light;
        color: $darkgrey;
        border: solid 1px $middlegrey;
        border-radius: 3px;
        font-size: 12px;
        display: flex;
        align-items: center;
        padding-left: 10px;
      }

      .uk-icon {
        display: flex;
      }

      .search-icon {
        $svg-size: 15px;

        svg {
          width: $svg-size;
          height: $svg-size;
        }
      }

      line {
        stroke-width: 1.3;
      }
      polyline {
        stroke-width: 1.1;
      }

    }
  }
}
