<div class="card p-4" id="customers" data-customers="{{ asset('data-customer.js') }}">
    <div class="quotation-head mb-3 d-flex">

        <div class="d-flex align-items-center">
            <span uk-icon="icon: user" class="mr-2"></span>
            <h1 class="panel-heading">Client</h1>
        </div>


    </div>

    {% include '@Modules/quotation/templates/admin/_form.html.twig' %}

    <div id="js-output-customers"><!-- Customers here! --></div>
</div>